*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.cajalogo img{
    height: 70vh;
    height: 70vh;
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    text-align: center;
}

.hero::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/fondo2.png");
    background-size: cover;
    z-index: -1;
}

.caja1sobremi{
    min-height: 400px;
    background-color: #fbe3e3;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.caja2sobremi{
    background-size: cover;
    float: right;
    padding: 5vh;
    min-height: 400px;
    background-color: rgb(224, 116, 116);
    background-repeat: no-repeat;
}